<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/U62596/IdeaProjects/seleniumDemo">
        <classes>
            <class name="com.selenium.Demo.TestClass">
                <methods>
                    <include name="chromeTest"/>
                    <include name="firefoxTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>